:root{
    --DefualtFontColor: rgb(139, 191, 252);
    --DescriptionFontColor: rgb(202, 225, 248);
}

#learned li{
    list-style-type: square;
    color: var(--DescriptionFontColor);
}

@media only screen and(max-width: 430px){
    card-body .obtainedDate{
        font-size: xx-large;
    }
}