:root{
    --DefualtFontColor: rgb(139, 191, 252);
    --DescriptionFontColor: rgb(202, 225, 248);
}

.card{
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.card-header{
    color: var(--DefualtFontColor);
    font-size: large;
    font-weight: bold;
}

.exp{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(136, 218, 250);
}

h6{
    color: var(--DefualtFontColor);
}